<% menu = Hyku::MenuPresenter.new(self) %>
<ul class="nav nav-pills nav-stacked">
  <li class="h5"><%= t('hyrax.admin.sidebar.activity') %></li>
  <li>
    <a role="button" class="collapsed collapse-toggle" data-toggle="collapse" href="#collapseRepositoryActivity" aria-expanded="false" aria-controls="collapseRepositoryActivity">
      <span class="fa fa-line-chart"></span>
      <span><%= t('hyrax.admin.sidebar.repository_activity') %></span>
    </a>
    <ul class="collapse nav nav-pills nav-stacked" id="collapseRepositoryActivity">
      <%= menu.nav_link(hyrax.admin_path) do %>
        <span class="fa fa-dashboard"></span> <%= t('hyrax.admin.sidebar.activity_summary') %>
      <% end %>
      <%= menu.nav_link(main_app.status_path) do %>
        <span class="fa fa-flag"></span> <%= t('hyrax.admin.sidebar.system_status') %>
      <% end %>
    </ul>
  </li>
  <li>
    <a role="button" class="collapsed collapse-toggle" data-toggle="collapse" href="#collapseUserActivity" aria-expanded="false" aria-controls="collapseUserActivity">
      <span class="fa fa-line-chart"></span>
      <span><%= t('hyrax.admin.sidebar.user_activity') %></span>
    </a>
    <ul class="collapse nav nav-pills nav-stacked" id="collapseUserActivity">
      <%= menu.nav_link(hyrax.profile_path(current_user)) do %>
        <span class="fa fa-user"></span> <%= t('hyrax.admin.sidebar.profile') %>
      <% end %>
      <%= menu.nav_link(hyrax.notifications_path) do %>
        <span class="fa fa-bell"></span> <%= t('hyrax.admin.sidebar.user_notifications') %>
         <%= render 'hyrax/users/notify_number' %>
      <% end %>
      <%= menu.nav_link(hyrax.transfers_path) do %>
        <span class="fa fa-arrows-h"></span> <%= t('hyrax.admin.sidebar.transfers') %>
      <% end %>
    </ul>
  </li>

    <li class="h5">Configuration</li>
    <li>
      <% collapse_class = 'collapse ' unless menu.settings_section? %>
      <a role="button" class="collapsed collapse-toggle" data-toggle="collapse" href="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
        <span class="fa fa-cog"></span>
        <span><%= t('hyrax.admin.sidebar.settings') %></span>
      </a>
      <ul class="<%= collapse_class %>nav nav-pills nav-stacked" id="collapseSettings">
        <% if can? :manage, Site %>
          <%= menu.nav_link(main_app.edit_site_labels_path) do %>
            <span class="fa fa-institution"></span> <%= t('hyrax.admin.sidebar.labels') %>
          <% end %>
          <%= menu.nav_link(main_app.edit_site_appearances_path) do %>
            <span class="fa fa-paint-brush"></span> <%= t('hyrax.admin.sidebar.appearance') %>
          <% end %>
          <%= menu.nav_link(main_app.edit_site_content_blocks_path) do %>
            <span class="fa fa-file-text-o"></span> <%= t('hyrax.admin.sidebar.content_blocks') %>
          <% end %>
        <% end %>

        <%= menu.nav_link(hyrax.admin_features_path) do %>
          <span class="fa fa-wrench"></span> Technical
        <% end %>
      </ul>
    </li>

    <%= menu.nav_link(hyrax.admin_admin_sets_path) do %>
      <span class="fa fa-sitemap"></span> <%= t('hyrax.admin.sidebar.admin_sets') %>
    <% end %>

    <% if can?(:manage, Role) || can?(:manage, User) %>
    <li>
      <a role="button" class="collapsed collapse-toggle" data-toggle="collapse" href="#collapseRoles" aria-expanded="false" aria-controls="collapseRoles">
        <span class="fa fa-users"></span>
        <span><%= t('hyrax.admin.sidebar.roles_and_permissions') %></span>
      </a>
      <ul class="collapse nav nav-pills nav-stacked" id="collapseRoles">
        <% if can? :manage, Role %>
          <%= menu.nav_link(main_app.site_roles_path) do %>
            <span class="fa fa-gavel"></span> <%= t('hyrax.admin.sidebar.manage_roles_and_permissions') %>
          <% end %>
        <% end %>

        <% if can? :manage, User %>
          <%= menu.nav_link(main_app.admin_users_path) do %>
            <span class="fa fa-user"></span> <%= t('hyrax.admin.sidebar.manage_users') %>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% end %>

    <% if can? :manage, Account %>
      <%= menu.nav_link(main_app.accounts_path) do %>
        <span class="fa fa-gears"></span> <%= t('hyrax.admin.sidebar.accounts') %>
      <% end %>
    <% elsif Site.account && can?(:manage, Site.account) %>
      <%= menu.nav_link(main_app.account_path(Site.account)) do %>
        Account
      <% end %>
    <% end %>

    <li class="h5"><%= t('hyrax.admin.sidebar.tasks') %></li>
    <%= menu.nav_link(hyrax.admin_stats_path) do %>
      <span class="fa fa-bar-chart"></span> <%= t('hyrax.admin.sidebar.statistics') %>
    <% end %>
</ul>
