<%# OVERRIDE Hyrax 2.9.1 add show actions buttons to collection show page %>
<% provide :page_title, construct_page_title(@presenter.title) %>
<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <div class="col-md-12">
      <% if @presenter.banner_file[:filename] %>
      <div class='hyc-banner'>
        <%= render partial: '/themes/dc_repository/shared/collection_splash_header', locals: { bg_image: @presenter.banner_file[:relative_path], bg_title: @presenter.banner_file[:alt_text] }%>
        </div>
      <% else %>
        <div class="hyc-generic">
      <% end %>
      <% unless @presenter.logo_record.blank? %>
        <div class="hyc-logos">
          <% @presenter.logo_record.each_with_index  do |lr, i| %>
            <% if lr[:linkurl].blank? %>
              <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>" onerror="this.style.display='none'"/>
            <% else %>
              <a href="<%= lr[:linkurl] %>">
                <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>" onerror="this.style.display='none'"/>
              </a>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="hyc-title">
    <h1><%= @presenter.title.first %></h1>
  </div>
  <%# OVERRIDE here to add admin actions buttons to show page %>
  <div class='show-actions-container'>
    <% id = @presenter.id %>
    <section class="collection-title-row-wrapper"
      data-source="show"
      data-id="<%= id %>"
      data-colls-hash="<%= available_parent_collections_data(collection: @presenter) %>"
      data-post-url="<%= hyrax.dashboard_create_nest_collection_within_path(id) %>"
      data-post-delete-url="<%= hyrax.dashboard_collection_path(id) %>">
      <div class="collection-title-row-content">
        <%= render 'hyrax/dashboard/collections/show_actions', presenter: @presenter %>
      </div>
    </section>
  </div>
  <%# end OVERRIDE %>
  <div class="row hyc-body">
    <div class="hyc-blacklight hyc-bl-title">
      <%= render 'show_descriptions' %>
      <%# OVERRIDE Hyrax 2.9.1 remove item count and creator info from collection show page per client request %>
    </div>
  </div>
  <!-- Search results label -->
  <% if @members_count > 0 || @presenter.subcollection_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <% if collection_search_parameters? %>
        <h2>
          <%= t('hyrax.dashboard.collections.show.search_results') %>
        </h2>
      <% end %>
    </div>
  <% end %>
  <!-- Search bar -->
  <div class="hyc-blacklight hyc-bl-search hyc-body row">
    <div class="col-sm-8">
      <%= render 'search_form', presenter: @presenter, url: hyrax.collection_path(@presenter.id) %>
    </div>
  </div>
  <!-- Subcollections -->
  <% if @presenter.collection_type_is_nestable? && @subcollection_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <h2><%= t('.subcollection_count') %> (<%= @subcollection_count %>)</h2>
    </div>
    <div class="hyc-blacklight hyc-bl-results">
      <%= render 'subcollection_list', collection: @subcollection_docs %>
    </div>
  <% end %>
  <!-- Works -->
  <% if @members_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <h2><%= t('.works_in_collection') %> (<%= @members_count %>)</h2>
    </div>
    <div class="hyc-blacklight hyc-bl-sort">
      <%= render 'sort_and_per_page', collection: @presenter %>
    </div>
    <div class="hyc-blacklight hyc-bl-results">
      <%= render_document_index @member_docs %>
    </div>
    <div class="hyc-blacklight hyc-bl-pager">
      <%= render 'paginate' %>
    </div>
  <% end # if @members_count > 0 %>
</div>
<span class='hide analytics-event' data-category="collection" data-action="collection-page-view" data-name="<%= @presenter.id %>" >
