<%= simple_form_for @form, url: admin_appearance_path do |f| %>
  <div class="panel-body">
    <% require_image = @form.banner_images.any? ? false : true %>
    <%# Upload Banner Images %>
    <%= f.input :banner_images,
                as: :file,
                wrapper: :vertical_file_input,
                required: require_image,
                hint: t('hyrax.admin.appearances.show.forms.banner_image.hint'),
                input_html: { multiple: true, accept: 'image/*' } %>
    <%= f.input :banner_image_text, required: true, as: :text, label: 'Banner image alt text' %>
    <% if @form.banner_images.any? %>
      <% @form.banner_images.each do |banner_image| %>
        <div class="panel-footer">
          <%= image_tag banner_image.url, class: "img-responsive" %> <br>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>

<% if @form.banner_images.any? %>
  <div class="panel-footer">
    <%= simple_form_for @form.site, url: main_app.site_path(@form.site) do |f| %>
      <%= f.submit 'Remove all banner images', class: 'btn btn-danger', name: :remove_banner_images %>
    <% end %>
  </div>
<% end %>
