<div class="panel panel-default tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#about_page" role="tab" data-toggle="tab"><%= t('.tabs.about_page') %></a>
    </li>
    <li>
      <a href="#announcement_text" role="tab" data-toggle="tab"><%= t('.tabs.announcement_text') %></a>
    </li>
    <li>
      <a href="#marketing_text" role="tab" data-toggle="tab"><%= t('.tabs.marketing_text') %></a>
    </li>
    <li>
      <a href="#featured_researcher" role="tab" data-toggle="tab"><%= t('.tabs.featured_researcher') %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="about_page" class="tab-pane active">
      <div class="panel panel-default labels">
        <%= simple_form_for @site, url: site_content_blocks_path do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :about_page %><br>
                <%= f.text_area :about_page, value: f.object.about_page.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to 'Cancel', hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right'%>
            <%= f.button :submit, class: 'btn btn-primary pull-right'%>
          </div>
        <% end %>
      </div>
    </div>
    <div id="marketing_text" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for @site, url: site_content_blocks_path do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :marketing_text %><br>
                <%= f.text_area :marketing_text, value: f.object.marketing_text.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to 'Cancel', hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right'%>
            <%= f.button :submit, class: 'btn btn-primary pull-right'%>
          </div>
        <% end %>
      </div>
    </div>
    <div id="announcement_text" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for @site, url: site_content_blocks_path do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :announcement_text %><br>
                <%= f.text_area :announcement_text, value: f.object.announcement_text.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to 'Cancel', hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right'%>
            <%= f.button :submit, class: 'btn btn-primary pull-right'%>
          </div>
        <% end %>
      </div>
    </div>
    <div id="featured_researcher" class="tab-pane">
      <div class="panel panel-default labels">
        <%= simple_form_for @site, url: site_content_blocks_path do |f| %>
          <div class="panel-body">
            <div class="field form-group">
                <%= f.label :featured_researcher %><br>
                <%= f.text_area :featured_researcher, value: f.object.featured_researcher.value, class: 'form-control tinymce', rows: 20, cols: 120 %>
            </div>
          </div>
          <div class="panel-footer">
            <%= link_to 'Cancel', hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right'%>
            <%= f.button :submit, class: 'btn btn-primary pull-right'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= tinymce_assets %>
<%= tinymce %>
