<div class="form-inputs">
  <%= f.input :display_name, label: 'Display Name' %>
  <%= f.input :email, hint: '' %>
  <%= f.input :is_superadmin, as: :boolean %>
  <%= f.input :password, hint: 'Only if creating or changing' %>
  <%= f.input :facebook_handle %>
  <%= f.input :twitter_handle %>
  <%= f.input :googleplus_handle %>
  <%= f.input :address %>
  <%= f.input :department %>
  <%= f.input :title, hint: '' %>
  <%= f.input :office %>
  <%= f.input :chat_id %>
  <%= f.input :website %>
  <%= f.input :affiliation %>
  <%= f.input :telephone %>
  <%= f.input :avatar %>
  <%= f.input :group_list %>
  <%= f.input :linkedin_handle %>
  <%= f.input :orcid %>
  <%= f.input :arkivo_token %>
  <%= f.input :arkivo_subscription %>
  <%= f.input :preferred_locale %>
</div>

