<% content_for :page_header do %>
  <h1><span class="fa fa-gears"></span> <%= t('.header') %></h1>
  <div class="pull-right">
    <%= link_to new_proprietor_user_path, class: 'btn btn-primary' do %>
      <span class="fa fa-edit"></span> <%= t('.create_new') %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped datatable">
          <thead>
            <tr>
              <th><%= t('.email') %></th>
              <th><%= t('.display_name') %></th>
              <th><%= t('.department') %></th>
              <th><%= t('.title') %></th>
              <th><%= t('.affiliation') %></th>
              <th><%= t('.superadmin') %></th>
              <th><%= t('.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.display_name %></td>
                <td><%= user.department %></td>
                <td><%= user.title %></td>
                <td><%= user.affiliation %></td>
                <td><%= user.is_superadmin %></td>
                <td class="col-md-2"><%= link_to t('.manage'), proprietor_user_path(user) %>&nbsp;|&nbsp;<%= link_to t('helpers.action.edit'), edit_proprietor_user_path(user) %>&nbsp;|&nbsp;<%= link_to t('helpers.action.delete'), proprietor_user_path(user), method: :delete, data: { confirm: t('.confirm_delete') } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
