<% content_for :page_header do %>
  <h1><span class="fa fa-gears"></span> <%= t(".header") %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default account-form">
      <%= simple_form_for @account, url: [:proprietor, @account], html: { class: 'form' } do |f| %>
        <div class="panel-body">
          <% if @account.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
              <ul>
                <% @account.errors.messages.each do |key, messages| %>
                  <li><%= key %> &quot;<%= @account.errors.details[key].first[:value] %>&quot; <%= messages.join(' and ') %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.input :is_public %>

          <%= f.input :tenant, readonly: @account.persisted? %>

          <%= f.input :cname, readonly: true %>
          <div id='domain_names'>
            <h3>Domain Names</h3>
            <%= f.simple_fields_for :domain_names do |domain_name| %>
              <%= render 'domain_name_fields', f: domain_name %>
            <% end %>
            <div 'class='links'>
              <%= link_to_add_association 'add domain name', f, :domain_names %>
            </div>
          </div>

          <h3><%= t(".account_settings") %></h3>
          <% current_account.live_settings.each do |key, value| %>
            <%= render 'shared/settings', f: f, key: key, value: value %>
          <% end %>

          <% if @account.search_only? %>
            <h3><%= t('.accounts_to_search') %></h3>
            <div id='full_acount_cross_searches'>
              <%= f.simple_fields_for :full_account_cross_searches do |full_account_cross_search| %>
                <%= render 'full_account_cross_search_fields', f: full_account_cross_search %>
              <% end %>
              <div 'class='links'>
                <%= link_to_add_association 'Add account to search', f, :full_account_cross_searches %>
              </div>
            </div>
          <% end %>

          <% unless @account.search_only? %>
            <h3><%= t(".datacite_endpoint") %></h3>
					  <%= f.fields_for :datacite_endpoint do |s| %>
						  <%= s.input :mode, required: false  %>
						  <%= s.input :prefix, required: false  %>
						  <%= s.input :username, required: false  %>
						  <%= s.input :password, input_html: { value: @account.data_cite_endpoint.password }, required: false  %>
					  <% end %>
          <% end %>

          <h3><%= t(".solr_endpoint") %></h3>
          <%= f.simple_fields_for :solr_endpoint do |s| %>
            <%= s.input :url, required: false %>
          <% end %>

          <% unless @account.search_only? %>
            <h3><%= t(".fcrepo_endpoint") %></h3>
            <%= f.fields_for :fcrepo_endpoint do |s| %>
              <%= s.input :url %>
              <%= s.input :base_path %>
            <% end %>
          <% end %>

          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to t('simple_form.cancel'), proprietor_accounts_path, class: 'btn btn-link action-cancel' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
