<% content_for :page_header do %>
  <h1><span class="fa fa-gears"></span> Editing Account</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default account-form">
      <%= form_for(@account, url: [:proprietor, @account], :html => { class: 'form' }) do |f| %>
        <div class="panel-body">
          <% if @account.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
              <ul>
                <% @account.errors.messages.each do |key, messages| %>
                  <li><%= key %> &quot;<%= @account.errors.details[key].first[:value] %>&quot; <%= messages.join(' and ') %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :tenant %><br>
            <%= f.text_field :tenant, class: 'form-control', readonly: @account.persisted? %>
          </div>

          <div class="form-group">
            <%= f.label :cname %><br>
            <%= f.text_field :cname, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :admin_emails %><br>
            <%= f.text_field :admin_emails, class: 'form-control' %>
            <p class="help-block">(comma-separated list of email addresses)</p>
          </div>

          <%= f.fields_for :solr_endpoint do |s| %>
            <h3>Solr Endpoint</h3>
            <div class="form-group">
              <%= s.label :url %><br>
              <%= s.text_field :url, class: 'form-control' %>
            </div>
          <% end %>

          <%= f.fields_for :fcrepo_endpoint do |s| %>
            <h3>Fcrepo Endpoint</h3>
            <div class="form-group">
              <%= s.label :url %><br>
              <%= s.text_field :url, class: 'form-control' %>
              <p class="help-block">(should not end with a slash)</p>
            </div>
            <div class="form-group">
              <%= s.label :base_path %><br>
              <%= s.text_field :base_path, class: 'form-control' %>
              <p class="help-block">(should begin with a slash and not end with a slash)</p>
            </div>
          <% end %>

        </div>
        <div class="panel-footer">
          <%= f.submit class: 'btn btn-primary pull-right' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
