<% content_for :page_header do %>
  <h1><span class="fa fa-gears"></span> <%= t('.header') %></h1>
  <div class="pull-right">
    <%= link_to new_proprietor_account_path, class: 'btn btn-primary' do %>
      <span class="fa fa-edit"></span> <%= t('.create_new') %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped datatable">
          <thead>
            <tr>
              <th><%= t('.tenant') %></th>
              <th><%= t('.cname') %></th>
              <th><%= t('.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= account.tenant %></td>
                <td><%= account.cname %></td>
                <td class="col-md-2"><%= link_to t('.manage'), [:proprietor, account] %>&nbsp;|&nbsp;<%= link_to t('helpers.action.edit'), [:edit, :proprietor, account] %>&nbsp;|&nbsp;<%= link_to t('helpers.action.delete'), [:proprietor, account], method: :delete, data: { confirm: t('.confirm_delete') } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
