<% content_for :page_header do %>
  <h1><span class="fa fa-gears"></span> Create a new repository</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default account-form">
      <%= form_for(@account, url: [:proprietor, @account], :html => { class: 'form form-horizontal' }) do |f| %>
        <div class="panel-body">
            <% if @account.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <%= pluralize(@account.errors.count, "error") %> prohibited this repository from being saved:
                <ul>
                  <% @account.errors.messages.each do |key, messages| %>
                    <li><%= key %> &quot;<%= @account.errors.details[key].first[:value] %>&quot; <%= messages.join(' and ') %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :name, 'Short name', class: 'col-md-2' %>
              <div class="col-md-10">
                <%= f.text_field :name, class: 'form-control' %>
                <span class="help-block">A single or hyphenated name used for technical aspects of the repository (e.g., "acme" or "acme-library").</span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <%= f.submit class: 'btn btn-primary pull-right' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
