<% content_for :page_title, application_name %>
<% content_for(:container_class) { 'row' } %>
<section id="banner" class="jumbotron">
  <div class="container">
    <h1><%= application_name %></h1>
    <p><%= t('application.tagline') %></p>
    <p>
      <% if !Settings.multitenancy.admin_only_tenant_creation || can?(:manage, Account) %>
        <%= link_to t('hyku.splash.account_signup'), account_sign_up_path, class: 'btn btn-lg btn-sign-up' %>
      <% elsif !user_signed_in? %>
        <%= link_to t('hyku.splash.account_login'), main_app.new_user_session_path, class: 'btn btn-lg btn-sign-up' %>
      <% else %>
        <%= t('hyku.splash.account_denied') %>
      <% end %>
    </p>
  </div>
</section>

<section class="product-features">
  <div class="row grid-row">
    <div class="col-xs-12 col-sm-4 grid-item">
      <h2 class="heading"><%= t('hyku.splash.left_heading') %></h2>
      <p>
          <%= t('hyku.splash.left_text') %>
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 grid-item">
      <h2 class="heading"><%= t('hyku.splash.center_heading') %></h2>
      <p>
          <%= t('hyku.splash.center_text') %>
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 grid-item">
      <h2 class="heading"><%= t('hyku.splash.right_heading') %></h2>
      <p>
          <%= t('hyku.splash.right_text') %>
      </p>
    </div>
  </div>
</section>
