<% # OVERRIDE: Hyrax v3.4.1 - remove background-container-gradient div, remove site-title-container div, add divs and classes for custom styles for dc_repository %>

<% content_for(:navbar) do %>
  <div class="image-masthead d-flex">
<!-- dc-repository homepage -->
    <div class="background-container"  title="<%= block_for(name: 'banner_image_text') %>" style="background-image: url('<%= banner_image %>')"></div>
    <% # OVERRIDE: Hyrax v3.4.1 - remove background-container-gradient %>
    <% # OVERRIDE: Hyrax v3.4.1 - remove site-title-container %>
    <% # OVERRIDE: Hyrax v3.4.1 - add divs and classes for custom styles %>
    <div class="utk-digital-elements-wrapper">
      <div class="container-fluid d-flex">
        <div class='row'>
          <div class="utk-digital-search-container d-flex">
            <div class="utk-digital-search-heading d-flex">
              <span class="utk-heading-1" role="heading" aria-level="1">Digital Collections</span>
              <span class="utk-description" role="subheading"><span>Explore Items digitized from our collections.</span></span>
            </div>
          </div>
          <div class='circle-container d-flex hidden-sm'>
            <div class="circle d-flex">
              <div class='circle-text'>
                <%# Dynamically show number of collections and works %>
                <% collection_count = number_to_human(Collection.count, units: {thousand: "K"}) %>
                <%= collection_count.gsub(/\s+/, "") %> Collections
                <% work_count = GenericWork.count + Image.count + Audio.count + Book.count + CompoundObject.count + Newspaper.count + Pdf.count + Video.count %>
                <% work_count_converted = number_to_human(work_count, units: {thousand: "K"}) %>
                <%= work_count_converted.gsub(/\s+/, "") %> Works and more.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='controls-container'>
      <div class='controls'>
        <%= render '/controls' %>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:precontainer_content) do %>
  <%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
<% end %>

<%= render template: 'layouts/hyrax' %>
