<% content_for :page_header do %>
  <h1><span class="fa fa-paint-brush"></span> <%= t(:'hyrax.admin.sidebar.appearance') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <%= simple_form_for @site, url: site_appearances_path do |f| %>
        <div class="panel-body">
          <%# Upload Banner Image %>
          <%= f.input :banner_image, as: :file, wrapper: :vertical_file_input, hint: 'Upload an image (JPG, GIF or PNG) at least 2200 pixels wide for best results.'%>
          <%= image_tag @site.banner_image.url, class: "img-responsive" if @site.banner_image? %>
          <%= f.input :remove_banner_image, as: :boolean %>
        </div>
        <div class="panel-footer">
          <%= f.button :submit, class: 'btn btn-primary pull-right' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
