<%
  controller = params[:controller]
  action = params[:action]
  tabs = [
    OpenStruct.new({
      name: 'Description',
      controller: 'admin/groups',
      action: 'edit',
      path: edit_admin_group_path(@group)
    }),
    OpenStruct.new({
      name: 'Users',
      controller: 'admin/group_users',
      action: 'index',
      path: admin_group_users_path(@group)
    }),
    OpenStruct.new({
      name: 'Remove',
      controller: 'admin/groups',
      action: 'remove',
      path: remove_admin_group_path(@group)
    })
  ]
%>

<div class="panel-tab-wrapper">
  <ul class="nav nav-tabs">
    <% tabs.each do |tab| %>
      <% if controller == tab.controller && action == tab.action %>
        <%= content_tag :li, role: 'presentation', class: 'active' do %>
          <%= link_to tab.name, 'javascript:void(0);' %>
        <% end %>
      <% else %>
        <%= content_tag :li, role: 'presentation' do %>
          <%= link_to tab.name, tab.path %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <%= link_to 'return to Manage Groups', admin_groups_path, class: 'pull-right nav-escape-link' %>
</div>
