<%= form_tag @target, method: :get, class: 'form-inline' do |f| %>
  <%= hidden_field_tag :per, params[:per] %>
  <%= hidden_field_tag :page, params[:page] %>
  <div class="form-group">
    <%= label_tag :q, 'Search' %>
    <%= text_field_tag :q, params[:q], class: 'form-control' %>
  </div>
  <%= submit_tag 'Go', class: 'btn btn-default' %>
<% end %>
