<% content_for :page_title, "Groups Members // Administration // #{application_name}" %>
<h1>
  <span class="fa fa-users"></span>
  Edit Group
</h1>

<%= render '/admin/groups/nav' %>
<div class="panel panel-default group-user-listing">
  <div class="panel-body">

    <p class="lead">Group members assume all privlidges assigned to this group.</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add User to Group</h3>
      </div>
      <div class="panel-body">
        <%= form_tag hyrax.profiles_path, method: :get, class: 'form-inline pull-left js-group-user-search' do |f| %>
          <div class="form-group">
            <%= label_tag :uq, 'Search for user', class: 'control-label' %>
            <%= text_field_tag :uq, params[:uq], placeholder: 'Name or username', class: 'form-control js-group-user-search__query' %>
          </div>
          <%= submit_tag 'Go', class: 'btn btn-default js-group-user-search__submit' %>
        <% end %>

        <%= form_tag add_admin_group_users_path(group_id: @group.to_param), class: 'form-inline pull-left js-group-user-add' do |f| %>
          <%= text_field_tag :user_ids, nil, placeholder: 'User ID', class: 'form-control js-group-user-add__id' %>
          <%= submit_tag 'Add', class: 'btn btn-primary js-group-user-add__submit' %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Group Members</h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid full-width-container">
          <div class="row">
            <div class="col-sm-6">
              <%= render '/admin/groups/per_page', locals: { target: admin_group_users_path } %>
            </div>
            <div class="col-sm-6 text-right">
              <%= render '/admin/groups/search', locals: { target: admin_group_users_path } %>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Joined</th>
                <th>Last access</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.user_key %>
                  </td>
                  <td>
                    <%= user.created_at.to_date.to_s(:db) %>
                  </td>
                  <td>
                    <%= user.updated_at.to_s(:db) %>
                  </td>
                  <td>
                    <%= form_tag remove_admin_group_users_path(group_id: @group.to_param), method: :delete, class: 'form' do |f| %>
                      <%= hidden_field_tag :user_ids, user.id %>
                      <%= submit_tag 'Remove', class: 'btn btn-danger' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <nav class="pull-right">
          <%= paginate @users %>
        </nav>
      </div>
    </div>
  </div>
</div>
