<div class="panel panel-default">
  <%= simple_form_for(@identity_provider) do |f| %>
    <div class="panel-body">
      <% if @identity_provider.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@identity_provider.errors.count, "error") %> prohibited this authentication provider from being saved:</h2>
          <ul>
            <% @identity_provider.errors.messages.each do |key, messages| %>
              <li><%= key %> &quot;<%= @identity_provider.errors.details[key].first[:value] %>&quot; <%= messages.join(' and ') %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name %>
      <%= f.input :provider,
            collection: Devise.omniauth_providers.map {|o| [o, o.upcase]},
                  label_method: :second,
                  value_method: :first,
                  label: t('hyku.identity_provider.label.provider'),
       required: true %>
      <p>Documentation for each identity provider type can be found in its associated adapter documentation.</p>
      <ul>
        <li><%= link_to 'SAML', 'https://github.com/omniauth/omniauth-saml' %></li>
        <li><%= link_to 'CAS', 'https://github.com/dlindahl/omniauth-cas' %></li>
        <li><%= link_to 'Openid Connect', 'https://github.com/omniauth/omniauth_openid_connect' %></li>
      </ul>

      <p>We use an additional paramater for SAML - `idp_metadata_url`. If you provide that URL, it will be parsed as shown in <%= link_to 'the SAML docs', 'https://github.com/omniauth/omniauth-saml#idp-metadata' %></p>
      <% if @identity_provider.new_record? %>
        <p>SAML assertion_consumer_service_url will be displayed after record is saved</p>
      <% else %>
        <p>These are the assertion consumer service urls or redirect urls that need to be allowed by your IdP. Do not specify the <code>assertion_consumer_service_url</code> in your options.</p>
        <ul>
        <% @current_account.domain_names.each do |dn| %>
          <li><%= dn.cname %>/users/auth/saml/<%= @identity_provider.id %>/callback</li>
        <% end %>
        </ul>
        <p>Metadata is available <%= link_to 'here', "/users/auth/saml/#{@identity_provider.id}/metadata", data: { turbolinks: false } %></p>
      <% end %>

      <%= f.input :options, input_html: {value: @identity_provider.options&.to_json } %>


      <%# Upload Logo Image %>
      <%= f.input :logo_image, as: :file, wrapper: :vertical_file_input, hint: t('hyrax.admin.appearances.show.forms.logo_image.hint') %>
      <%= f.input :logo_image_text, as: :text %>
      <%= image_tag f.object.logo_image.url(:medium), class: "img-responsive", alt: f.object.logo_image_text if f.object.logo_image? %>

    </div>

    <div class="panel-footer text-right">
      <% if IdentityProvider.count.nonzero? %>
        <%= link_to 'Delete', identity_provider, method: :delete, data: { confirm: 'Are you sure?' }, class:
      'btn btn-danger' %>
      <% end %>
      <%= f.submit class: 'btn btn-primary action-save' %>
    </div>
  <% end %>
</div>
