                <div class="field form-group">
                    <%= f.label :announcement_text %><br>
                    <%= f.text_area :announcement_text, class: 'form-control tinymce', rows: 20, cols: 120 %>
                </div>

                <div class="field form-group">
                    <%= f.label :marketing_text %><br>
                    <%= f.text_area :marketing_text, class: 'form-control tinymce', rows: 20, cols: 120 %>
                </div>

                <div class="field form-group">
                    <%= f.label :featured_researcher %><br>
                    <%= f.text_area :featured_researcher, class: 'form-control tinymce', rows: 20, cols: 120 %>
                </div>

                <%= tinymce_assets %>
                <%= tinymce %>
