                <div class="field form-group">
                    <%= f.label :application_name %><br>
                    <%= f.text_field :application_name, class: 'form-control'%>
                </div>

                <div class="field form-group">
                    <%= f.label :institution_name %><br>
                    <%= f.text_field :institution_name, class: 'form-control'%>
                </div>

                <div class="field form-group">
                    <%= f.label :institution_name_full %><br>
                    <%= f.text_field :institution_name_full, class: 'form-control'%>
                </div>
