<% content_for(:extra_body_classes, 'works-show ') %>

<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>
<%= render './shared/additional_citations' %>
<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% if @presenter.universal_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
            <div class="col-sm-12">
              <div class="image-show-description">
                <%= render 'work_description', presenter: @presenter %>
              </div>
            </div> 
          <% else %>
            <div class="col-sm-3 mb-1">
              <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.universal_viewer? %>
            </div>
            <div class="col-sm-9">
              <%= render 'work_description', presenter: @presenter %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-sm-12 image-show-metadata">  
            <%= render 'metadata', presenter: @presenter %>
          </div>
          <div class="col-sm-12">
            <%= render 'relationships', presenter: @presenter %>
            <%= render 'items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%# = render 'sharing_with', presenter: @presenter %>
            <%# = render 'user_activity', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
