<div class="stats">
  <h1>Statistics for <%= application_name %></h1>
  <p>Total Users: <%= @presenter.users_count %></p>

  
  <div>
    <!-- Nav tabs -->
    <ul id="statistics-tabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab">Collections</a></li>
      <li role="presentation"><a href="#works" aria-controls="works" role="tab" data-toggle="tab">Works</a></li>
      <li role="presentation"><a href="#downloads" aria-controls="downloads" role="tab" data-toggle="tab">Downloads</a></li>
      <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="collections">
        <h2>Collections over time</h2>
        <div class="graph-container">
          <div id="collection-graph" class="graph"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="works">
        <h2>Works over time</h2>
        <div class="graph-container">
          <div id="works-graph" class="graph"></div>
        </div>
        <h2>Works by type:</h2>
        <div class="graph-container">
          <div id="works-by-type" class="graph"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="downloads">...</div>
      <div role="tabpanel" class="tab-pane" id="users">
        <%= render "admin/stats/stats_by_date" %>
        <%= render "admin/stats/top_data" %>
      </div>
    </div>
      <script>
var statistics;
        $(function() {
          var stats = require('statistics_tab_manager');
          statistics = new stats.StatisticsTabManager(<%= Sufia::Statistics::Collections::OverTime.new.points.to_json.html_safe %>,
              <%= Sufia::Statistics::Works::OverTime.new.points.to_json.html_safe %>,
              <%= Sufia::Statistics::Works::ByResourceType.new.query.to_json.html_safe %>
              )

        });
      </script>

  </div>
</div>
