<%= form_for(@account, class: 'form') do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <%= pluralize(@account.errors.count, "error") %> prohibited this repository from being saved:

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label class="control-label col-md-2 required" for="account_title">Title</label>
    <div class="col-md-10">
      <input id="account_title" type="text" class="form-control">
      <span class="help-block">A human-friendly title for the repository. This can be changed later.</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, 'Short name', class: 'col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
      <span class="help-block">A single or hyphenated name used for technical aspects of the repository (e.g., "acme" or "acme-library").</span>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'Back', splash_path %>
    <%= f.submit 'Next', class: 'btn btn-primary' %>
  </div>
<% end %>
