<% content_for :page_header do %>
  <h1><span class="fa fa-gears"></span> <%= t(:'hyrax.admin.sidebar.accounts') %></h1>
  <div class="pull-right">
    <%= link_to new_account_path, class: 'btn btn-primary' do %>
      <span class="fa fa-edit"></span> Create new account 
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped datatable">
          <thead>
            <tr>
              <th>Tenant</th>
              <th>Cname</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= account.tenant %></td>
                <td><%= account.cname %></td>
                <td class="col-md-1"><%= link_to 'Show', account %>&nbsp;<%= link_to 'Edit', edit_account_path(account) %>&nbsp;<%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

