<h1 class="page-header">Accounts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tenant</th>
      <th>Cname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.tenant %></td>
        <td><%= account.cname %></td>
        <td class="col-md-1"><%= link_to 'Show', account %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_account_path(account) %></td>
        <td class="col-md-1"><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
