<p id="notice"><%= notice %></p>

<p>
  <strong>Tenant:</strong>
  <%= @account.tenant %>
</p>

<p>
  <strong>Cname:</strong>
  <%= @account.cname %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
